.deform {

  * {
    box-sizing: border-box;
  }

  .required:after {
    color: #e32;
    content: '*';
    display:inline;
  }

  .control-label {
    width: 200px;
    float: left;
  }
  .control-inputs {
    width: 400px;
    float: left;
  }
  .form-group .radio, .form-group .checkbox {
      position: relative;
      display: block;
      /* margin-bottom: 10px; */
  }

  .form-group {
    clear: left;
  }

  .form-control {
    width: 100%;
  }

  .error-block {
    color: red;
  }

  .deform-seq-container .control-inputs {
    width: 100%;
  }

  .deform-seq-container .deform-seq-item-handle {
    width: 8.3%;
    float: left;
  }

  .deform-seq-container .deform-seq-item-group {
    width: 91.6%;
    float: left;
  }

  .form-control {
      input {
        height: 40px;
      }
      input[type=checkbox], input[type=radio] {
        height: auto;
      }
      select {
        height: 40px;
      }
  }

  .form-control.select2-container { height: 40px; }

  .deform-two-field-sequence .deform-seq-container .deform-seq-item label {
      display: none;
  }
  .deform-two-field-sequence .deform-seq-container .deform-seq-item:first-child label {
      display: block;
  }
  .deform-two-field-sequence .deform-seq-container .deform-seq-item .panel-heading {
      display: none;
  }
  .deform-two-field-sequence .deform-seq-container .deform-seq-item.form-group {
      background: red;
  }
  .deform-two-field-sequence .deform-seq-container .deform-seq-item .deform-seq-item-group .form-group {
      width: 45%; padding: 0 2px; float: left; clear: none;
  }
  .deform-two-field-sequence .deform-seq-container .deform-seq-item .deform-seq-item-group > .panel {
      padding: 0;
      margin: 5px 0;
      border: none;
  }
  .deform-two-field-sequence .deform-seq-container .deform-seq-item .deform-seq-item-group > .panel > .panel-body {
      padding: 0;
  }

}
