[run]

branch = True

include =
    rhodecode/lib/*
    rhodecode/model/*
    rhodecode/controllers/*

omit =
    rhodecode/lib/vcs/remote/*
    rhodecode/lib/dbmigrate/*
    rhodecode/lib/paster_commands/*
    rhodecode/tests/*

[report]

exclude_lines =
    raise NotImplementedError

