## dependencies

amqp==2.3.1
# not released authomatic that has updated some oauth providers
https://code.rhodecode.com/upstream/authomatic/artifacts/download/0-4fe9c041-a567-4f84-be4c-7efa2a606d3c.tar.gz?md5=f6bdc3c769688212db68233e8d2b0383#egg=authomatic==0.1.0.post1

babel==1.3
beaker==1.9.1
bleach==3.1.0
celery==4.1.1
channelstream==0.5.2
click==7.0
colander==1.7.0
# our custom configobj
https://code.rhodecode.com/upstream/configobj/artifacts/download/0-012de99a-b1e1-4f64-a5c0-07a98a41b324.tar.gz?md5=6a513f51fe04b2c18cf84c1395a7c626#egg=configobj==5.0.6
cssselect==1.0.3
cryptography==2.6.1
decorator==4.1.2
deform==2.0.7
docutils==0.14.0
dogpile.cache==0.7.1
dogpile.core==0.4.1
formencode==1.2.4
future==0.14.3
futures==3.0.2
infrae.cache==1.0.1
iso8601==0.1.12
itsdangerous==0.24
kombu==4.2.1
lxml==4.2.5
mako==1.0.7
markdown==2.6.11
markupsafe==1.1.0
msgpack-python==0.5.6
pyotp==2.2.7
packaging==15.2
pathlib2==2.3.4
paste==3.0.8
pastedeploy==2.0.1
pastescript==3.1.0
peppercorn==0.6
psutil==5.5.1
py-bcrypt==0.4
pycurl==7.43.0.2
pycrypto==2.6.1
pygments==2.4.2
pyparsing==2.3.0
pyramid-debugtoolbar==4.5.0
pyramid-mako==1.0.2
pyramid==1.10.4
pyramid_mailer==0.15.1
python-dateutil
python-ldap==3.1.0
python-memcached==1.59
python-pam==1.8.4
python-saml==2.4.2
pytz==2018.4
tzlocal==1.5.1
pyzmq==14.6.0
py-gfm==0.1.4
redis==2.10.6
repoze.lru==0.7
requests==2.9.1
routes==2.4.1
simplejson==3.16.0
six==1.11.0
sqlalchemy==1.1.18
sshpubkeys==3.1.0
subprocess32==3.5.4
supervisor==4.0.3
translationstring==1.3
urllib3==1.24.1
urlobject==2.4.3
venusian==1.2.0
weberror==0.10.3
webhelpers2==2.0
webhelpers==1.3
webob==1.8.5
whoosh==2.7.4
wsgiref==0.1.2
zope.cachedescriptors==4.3.1
zope.deprecation==4.4.0
zope.event==4.4.0
zope.interface==4.6.0

# DB drivers
mysql-python==1.2.5
pymysql==0.8.1
pysqlite==2.8.3
psycopg2==2.8.3

# IPYTHON RENDERING
# entrypoints backport, pypi version doesn't support egg installs
https://code.rhodecode.com/upstream/entrypoints/artifacts/download/0-8e9ee9e4-c4db-409c-b07e-81568fd1832d.tar.gz?md5=3a027b8ff1d257b91fe257de6c43357d#egg=entrypoints==0.2.2.rhodecode-upstream1
nbconvert==5.3.1
nbformat==4.4.0
jupyter_client==5.0.0

## cli tools
alembic==1.0.10
invoke==0.13.0
bumpversion==0.5.3

## http servers
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
waitress==1.3.0

## debug
ipdb==0.12.0
ipython==5.1.0

## rhodecode-tools, special case
https://code.rhodecode.com/rhodecode-tools-ce/artifacts/download/0-10ac93f4-bb7d-4b97-baea-68110743dd5a.tar.gz?md5=962dc77c06aceee62282b98d33149661#egg=rhodecode-tools==1.2.1

## appenlight
appenlight-client==0.6.26

## test related requirements
-r requirements_test.txt

## uncomment to add the debug libraries
#-r requirements_debug.txt
