<link rel="import" href="../../../../../../bower_components/polymer/polymer.html">

<dom-module id="rhodecode-unsafe-html">
    <template>
        <style include="shared-styles"></style>
        <slot></slot>
    </template>
    <script>
        Polymer({
            is: 'rhodecode-unsafe-html',
            properties: {
                text: {
                    type: String,
                    observer: '_handleText'
                }
            },
            _handleText: function(newVal, oldVal){
                this.innerHTML = this.text;
            }
        })

    </script>
</dom-module>
