<link rel="import" href="../../../../../../bower_components/polymer/polymer-element.html">

<dom-module id="rhodecode-unsafe-html">
    <template>
        <style include="shared-styles"></style>
        <slot></slot>
    </template>
    <script>
        class RhodecodeUnsafeHtml extends Polymer.Element {

            static get is() {
                return 'rhodecode-unsafe-html';
            }

            static get properties() {
                return {
                    text: {
                        type: String,
                        observer: '_handleText'
                    }
                }
            }

            _handleText(newVal, oldVal) {
                this.innerHTML = this.text;
            }
        }

        customElements.define(RhodecodeUnsafeHtml.is, RhodecodeUnsafeHtml);
    </script>
</dom-module>
