## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('%s Commits') % c.repo_name} -
    r${c.commit_ranges[0].revision}:${h.short_id(c.commit_ranges[0].raw_id)}
    ...
    r${c.commit_ranges[-1].revision}:${h.short_id(c.commit_ranges[-1].raw_id)}
    ${ungettext('(%s commit)','(%s commits)', len(c.commit_ranges)) % len(c.commit_ranges)}
    %if c.rhodecode_name:
        &middot; ${h.branding(c.rhodecode_name)}
    %endif
</%def>

<%def name="breadcrumbs_links()">
    ${_('Commits')} -
    r${c.commit_ranges[0].revision}:${h.short_id(c.commit_ranges[0].raw_id)}
    ...
    r${c.commit_ranges[-1].revision}:${h.short_id(c.commit_ranges[-1].raw_id)}
    ${ungettext('(%s commit)','(%s commits)', len(c.commit_ranges)) % len(c.commit_ranges)}
</%def>

<%def name="menu_bar_nav()">
    ${self.menu_items(active='repositories')}
</%def>

<%def name="menu_bar_subnav()">
    ${self.repo_menu(active='changelog')}
</%def>

<%def name="main()">
  <div class="summary-header">
      <div class="title">
        <div class="title-content">
          ${self.repo_page_title(c.rhodecode_db_repo)}
        </div>
      </div>
      <div class="header-buttons">
        <a href="${h.url('compare_url', repo_name=c.repo_name, source_ref_type='rev', source_ref=getattr(c.commit_ranges[0].parents[0] if c.commit_ranges[0].parents else h.EmptyCommit(), 'raw_id'), target_ref_type='rev', target_ref=c.commit_ranges[-1].raw_id)}"
           class="btn btn-default">
            ${_('Show combined compare')}
        </a>
      </div>
  </div>

  <div class="summary-detail">
    <div class="title">
      <h2>
        ${self.breadcrumbs_links()}
      </h2>
    </div>
  </div>
  <div id="changeset_compare_view_content">
    ##CS
    <%include file="../compare/compare_commits.html"/>
    <div class="cs_files">
      <%namespace name="cbdiffs" file="/codeblocks/diffs.html"/>
      <%namespace name="comment" file="/changeset/changeset_file_comment.html"/>
      <%namespace name="diff_block" file="/changeset/diff_block.html"/>
      ${cbdiffs.render_diffset_menu()}
      %for commit in c.commit_ranges:
        ${cbdiffs.render_diffset(
            diffset=c.changes[commit.raw_id],
            collapse_when_files_over=5,
            commit=commit,
         )}
        %endfor
      </table>
    </div>
  </div>
</%def>
