<link rel="import" href="../../../../../../bower_components/polymer/polymer.html">

<dom-module id="rhodecode-favicon">
    <template>
    </template>
    <script>
        Polymer({
            is: 'rhodecode-favicon',
            properties: {
                favicon: Object,
                counter: {
                    type: Number,
                    observer: '_handleCounter'
                }
            },

            ready: function () {
                this.favicon = new Favico({
                    type: 'rectangle',
                    animation: 'none'
                });
            },
            _handleCounter: function (newVal, oldVal) {
                this.favicon.badge(this.counter);
            }
        });

    </script>
</dom-module>
