<link rel="import" href="../../../../../../bower_components/polymer/polymer.html">

<dom-module id="rhodecode-favicon">
    <template>
    </template>
    <script>
        class RhodecodeFavicon extends Polymer.Element {

            static get is() { return 'rhodecode-favicon'; }

            static get properties() {
                return {
                    favicon: Object,
                    counter: {
                        type: Number,
                        observer: '_handleCounter'
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();
                this.favicon = new Favico({
                    type: 'rectangle',
                    animation: 'none'
                });
            }

            _handleCounter(newVal, oldVal) {
                this.favicon.badge(this.counter);
            }

        }
        customElements.define(RhodecodeFavicon.is, RhodecodeFavicon);


    </script>
</dom-module>
