<link rel="import"
      href="../../../../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../../../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../../../../../bower_components/paper-tooltip/paper-tooltip.html">

<dom-module id="rhodecode-toggle">

    <style include="shared-styles">
        .rc-toggle {
            float: left;
            position: relative;
        }

        .rc-toggle paper-spinner {
            position: absolute;
            top: 0;
            left: -30px;
            width: 20px;
            height: 20px;
        }
    </style>

    <template>
        <div class="rc-toggle">
            <paper-toggle-button checked={{checked}}>[[labelStatus(checked)]]</paper-toggle-button>
            <paper-tooltip>[[tooltipText]]</paper-tooltip>
            <template is="dom-if" if="[[shouldShow(noSpinner)]]">
                <paper-spinner active=[[active]]></paper-spinner>
            </template>
        </div>
    </template>

    <script>

        class RhodecodeToggle extends Polymer.Element {

            static get is() {
                return 'rhodecode-toggle';
            }

            static get properties() {
                return {
                    noSpinner: {type: Boolean, value: false, reflectToAttribute: true},
                    tooltipText: {type: String, value: "Click to toggle", reflectToAttribute: true},
                    checked: {type: Boolean, value: false, reflectToAttribute: true},
                    active: {type: Boolean, value: false, reflectToAttribute: true, notify: true}
                }
            }

            shouldShow() {
                return !this.noSpinner
            }

            labelStatus(isActive) {
                return this.checked ? 'Enabled' : "Disabled"
            }
        }

        customElements.define(RhodecodeToggle.is, RhodecodeToggle);
    </script>
</dom-module>
