<link rel="import" href="../../../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../channelstream-connection/channelstream-connection.html">
<link rel="import" href="../rhodecode-toast/rhodecode-toast.html">
<link rel="import" href="../rhodecode-favicon/rhodecode-favicon.html">

<dom-module id="rhodecode-app">
    <template>
        <rhodecode-favicon></rhodecode-favicon>
        <rhodecode-toast id="notifications"></rhodecode-toast>
        <channelstream-connection
                id="channelstream-connection"
                on-channelstream-listen-message="receivedMessage"
                on-channelstream-connected="handleConnected"
                on-channelstream-subscribed="handleSubscribed">
        </channelstream-connection>
    </template>
    <script src="rhodecode-app.js"></script>
</dom-module>
