.menuselection, .guilabel {
    font-size: .90em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-style: oblique;
}

.version {
    display: none;
}

.pre {
    color: #000
}
